// font size for text
body {
    font-size: 0.90rem !important;
}

// section descriptions should stand out from description list entries
// These cover both references and articles index pages
div[class="section level2"] > p.section-desc + p, // reference index page
div[class="section "] > p.section-desc + p // articles index page
{
    font-size: 1.15rem !important;
}


// color for links
$link-color: #03638e;

a {
    text-decoration: none !important;
    color: $link-color
}

code a:any-link {
    text-decoration: none !important;
    color: $link-color
}

.nav-text.text-default.me-auto {
    color: rgba(0,0,0,0.9) !important;
}

