/* ------------- text ------------------ */

// font size for text
body {
    font-size: 0.90rem !important;
}

/* ------------- section desciptions ------------------ */

// Section descriptions should stand out from description list entries
// These cover both references and articles index pages
div[class="section level2"] > p.section-desc + p, // reference index page
div[class="section "] > p.section-desc + p // articles index page
{
    font-size: 1.05rem !important;
}

// Indent text included in descriptor list so that similar functions are
// visually grouped together.
// reference
div[class="section level2"] > dl,
div[class="section level2"] > dt,
div[class="section level2"] > dd,
// articles
div[class="section "] > dl,
div[class="section "] > dt,
div[class="section "] > dd
{
    padding-left: 15px !important;
}

// There shouldn't be so much margin between the second (for reference index) or
// third (for articles index) level section header and the section descriptor.
div[class="section level2"] > p.section-desc, // reference index page
div[class="section "] > p.section-desc // articles index page
{
    margin-bottom: 0.2rem !important;
}
